body {
    background-color: #191f33;
    color: white;
}

#mainDiv {
    margin: auto;
    margin-top: 30px;
    width: 70%;
    background-color: rgba(63, 81, 110, 0.9);
    padding: 10px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

#tittelDiv {
    display: flex;
    justify-content: space-evenly;
}

.egenskaper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
}

#knapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 25%;
    margin: auto;
}

.knapp {
    margin-bottom: 10px;
    color: white;
    background-color: #3d3f46;
}

#utDiv {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#utMotorvogner {
    min-width: 80%;
}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
    width: 100%;
}